{% extends "base.html" %}
{% load static %}
{% block content1 %} 

<!--first row-->
<div class="row my-5">
    <div class="col-4 d-flex justify-content-center align-item-center">
        <img src="{% static 'images/anarul.png' %}" alt="image" class="about_image">
    </div>

    <div class="col-7 text-left text-light">
        <h2>As-Salahmu Alaykum !</h2>
        <p class="fs-5">
            Being a Python Programmer. Data-Driven Machine Learning Engineer with a Passion for AI Innovation and Data Science lover. Doing Bacelor of Science ( B.Sc) in Computer Science and Engineer (C.S.E) at <a href="https://vu.edu.bd/">Varendra Univesity</a> in Bangladesh.

        </p>

    </div>

 </div>

<div class="row my-2">
    <h2 class="text-center" style="color:aliceblue">My tech stack</h2>

    <div class=" d-flex justify-content-center align-item-center">
    <img 
    src="{%static 'images/p1.png' %}" 
    alt="python image" 
    height="70"
     width="70" 
     class="rounded"
    />

    <img 
    src="{%static 'images/sql.png' %}"
     alt="sql image"
      height="70" 
      width="70" 
      class="rounded"
       />

    <img 
    src="{%static 'images/html1.png' %}"
     alt="html image"
      height="70" 
      width="70" 
      class="rounded"
    />

    <img 
    src="{%static 'images/css1.png' %}"
     alt="css image" 
     height="70" 
     width="70" 
     class="rounded" 
     />

    <img 
    src="{%static 'images/dj.png' %}" 
    alt="django image"
     height="70" 
     width="70"
     class="rounded"
      />

    <img 
    src="{%static 'images/js.png' %}"
     alt="javascript image"
      height="70" 
      width="70" 
      class="rounded" 
      />
    
    <img
     src="{%static 'images/bootstrap.png' %}" 
     alt="bootstrap image" 
     height="70"
      width="70"
      class="rounded"
       />
       
    </div>

    </div>

{% endblock content1 %} 